/* colors */

/* 사용 예 
  color: $PINK_3; 
*/

$PINK_3: #FE8DA8;
$PINK_2: #FFB5C6;
$PINK_1: #FFC5E9;

$WHITE: #FFFFFF;
$BOARD_GRAY: #EFEFEF;
$WHITE_GRAY: #E5E5E5;
$GRAY: #797979;
$DARK_GRAY: #434343;

$CRITICAL: #ED7474;

